name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  base_tidied:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: prepare test data
        run: |
          sed 's/v0\.0\.1/v0.0.2/' -i test/tidied/go.mod
          git add test/tidied/go.mod
          git config user.name "Dummy"
          git config user.email "29139614+renovate[bot]@users.noreply.github.com"
          git commit -m "Test"
      - name: run
        uses: ./
        with:
          git_user: Dummy
          git_email: 8390204+at-wat@users.noreply.github.com
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: no
          go_mod_paths: test/tidied
      - name: validate
        run: |
          set -x
          grep "v0.0.2 h1" test/tidied/go.sum
          grep "v0.0.2/go.mod" test/tidied/go.sum
          ! grep "v0.0.1 h1" test/tidied/go.sum
          ! grep "v0.0.1/go.mod" test/tidied/go.sum
  indirect_changed:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: prepare test data
        run: |
          sed 's/v0\.0\.1/v0.0.2/' -i test/tidied/go.mod
          sed '/^require (/a \\tgithub.com/at-wat/sandbox v0.0.0-20200609080939-f9cdf82dbb3d // indirect' \
            -i test/tidied/go.mod
          git add test/tidied/go.mod
          git config user.name "Dummy"
          git config user.email "29139614+renovate[bot]@users.noreply.github.com"
          git commit -m "Test"
      - name: run
        uses: ./
        with:
          check_previously_tidied: false
          git_user: Dummy
          git_email: 8390204+at-wat@users.noreply.github.com
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: no
          go_mod_paths: test/tidied
      - name: validate
        run: |
          grep "github.com/at-wat/sandbox v0.0.0-20200609080939-f9cdf82dbb3d // indirect" test/tidied/go.mod
  base_not_tidied:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: prepare test data
        run: |
          git config user.name "Dummy"
          git config user.email "29139614+renovate[bot]@users.noreply.github.com"
          git commit -m "Test" --allow-empty
      - name: run
        id: failure
        uses: ./
        continue-on-error: true
        with:
          git_user: Dummy
          git_email: 8390204+at-wat@users.noreply.github.com
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: no
          go_mod_paths: test/not-tidied
      - name: validate
        run: test "${{ steps.failure.outcome }}" == "failure"
  non_renovate_bot:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: prepare test data
        run: |
          sed 's/v0\.0\.1/v0.0.2/' -i test/tidied/go.mod
          git add test/tidied/go.mod
          git config user.name "Dummy"
          git config user.email "8390204+at-wat@users.noreply.github.com"
          git commit -m "Test"
      - name: run
        uses: ./
        with:
          git_user: Dummy
          git_email: 8390204+at-wat@users.noreply.github.com
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: no
          go_mod_paths: test/tidied
      - name: validate
        run: |
          set -x
          # sum must not be updated
          grep "v0.0.1 h1" test/tidied/go.sum
          grep "v0.0.1/go.mod" test/tidied/go.sum
          ! grep "v0.0.2 h1" test/tidied/go.sum
          ! grep "v0.0.2/go.mod" test/tidied/go.sum
  major_import_path:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: prepare test data
        run: |
          sed 's|go-github/v35 v35\.3\.0|go-github/v36 v36.0.0|' -i test/tidied/go.mod
          git add test/tidied/go.mod
          git config user.name "Dummy"
          git config user.email "29139614+renovate[bot]@users.noreply.github.com"
          git commit -m "Update module github.com/google/go-github/v35 to v36"
      - name: run
        uses: ./
        with:
          git_user: Dummy
          git_email: 8390204+at-wat@users.noreply.github.com
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: no
          go_mod_paths: test/tidied
          update_import_path: true
      - name: validate
        run: |
          set -x
          grep "go-github/v36 v36\.0\.0 h1" test/tidied/go.sum
          grep "go-github/v36 v36\.0\.0/go.mod" test/tidied/go.sum
          grep "go-github/v36" test/tidied/dummy.go
          ! grep "go-github/v35 v35\.3\.0 h1" test/tidied/go.sum
          ! grep "go-github/v35 v35\.3\.0/go.mod" test/tidied/go.sum
          ! grep "go-github/v35" test/tidied/dummy.go
  monorepo:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: prepare test data
        run: |
          sed 's|aws-sdk-go-v2 v1\.5\.0|aws-sdk-go-v2 v1.6.0|' -i test/tidied/go.mod
          git add test/tidied/go.mod
          git config user.name "Dummy"
          git config user.email "29139614+renovate[bot]@users.noreply.github.com"
          git commit -m "Update module github.com/aws/aws-sdk-go-v2 to v1.6.0"
      - name: run
        uses: ./
        with:
          git_user: Dummy
          git_email: 8390204+at-wat@users.noreply.github.com
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: no
          go_mod_paths: test/tidied
          monorepos: |
            github.com/aws/aws-sdk-go-v2
      - name: validate
        run: |
          set -x
          grep "aws-sdk-go-v2 v1\.6\.0 h1" test/tidied/go.sum
          grep "aws-sdk-go-v2 v1\.6\.0/go.mod" test/tidied/go.sum
          grep "aws-sdk-go-v2/config v1\.3\.0 h1" test/tidied/go.sum
          grep "aws-sdk-go-v2/config v1\.3\.0/go.mod" test/tidied/go.sum
          ! grep "aws-sdk-go-v2 v1\.5\.0 h1" test/tidied/go.sum
          ! grep "aws-sdk-go-v2 v1\.5\.0/go.mod" test/tidied/go.sum
          ! grep "aws-sdk-go-v2/config v1\.2\.0 h1" test/tidied/go.sum
          ! grep "aws-sdk-go-v2/config v1\.2\.0/go.mod" test/tidied/go.sum
  base_tidied_old_email:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with:
          ref: ${{github.event.pull_request.head.ref}}
          repository: ${{github.event.pull_request.head.repo.full_name}}
      - name: prepare test data
        run: |
          sed 's/v0\.0\.1/v0.0.2/' -i test/tidied/go.mod
          git add test/tidied/go.mod
          git config user.name "Dummy"
          git config user.email "bot@renovateapp.com"
          git commit -m "Test"
      - name: run
        uses: ./
        with:
          git_user: Dummy
          git_email: 8390204+at-wat@users.noreply.github.com
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: no
          go_mod_paths: test/tidied
      - name: validate
        run: |
          set -x
          grep "v0.0.2 h1" test/tidied/go.sum
          grep "v0.0.2/go.mod" test/tidied/go.sum
          ! grep "v0.0.1 h1" test/tidied/go.sum
          ! grep "v0.0.1/go.mod" test/tidied/go.sum
