name: ci
on:
  push:
    branches:
      - '**'
      - '!master'

jobs:
  base_tidied:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: prepare test data
        run: |
          sed 's/v0\.0\.1/v0.0.2/' -i test/tidied/go.mod
          git add test/tidied/go.mod
          git config user.name "Dummy"
          git config user.email "bot@renovateapp.com"
          git commit -m "Test"
      - name: run
        uses: ./
        with:
          git_user: Dummy
          git_email: 8390204+at-wat@users.noreply.github.com
          github_token: ${{ secrets.GITHUB_TOKEN }}
          commit_style: add
          push: yes
          go_mod_paths: test/tidied
      - name: validate
        run: |
          grep "v0.0.2 h1" test/tidied/go.sum
          grep "v0.0.2/go.mod" test/tidied/go.sum
          ! grep "v0.0.1 h1" test/tidied/go.sum
          ! grep "v0.0.1/go.mod" test/tidied/go.sum
  indirect_changed:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: prepare test data
        run: |
          sed 's/v0\.0\.1/v0.0.2/' -i test/tidied/go.mod
          sed '/^require (/a \\tgithub.com/at-wat/sandbox v0.0.0-20200609080939-f9cdf82dbb3d // indirect' \
            -i test/tidied/go.mod
          git add test/tidied/go.mod
          git config user.name "Dummy"
          git config user.email "bot@renovateapp.com"
          git commit -m "Test"
      - name: run
        uses: ./
        with:
          check_previously_tidied: false
          git_user: Dummy
          git_email: 8390204+at-wat@users.noreply.github.com
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: no
          go_mod_paths: test/tidied
      - name: validate
        run: |
          grep "github.com/at-wat/sandbox v0.0.0-20200609080939-f9cdf82dbb3d // indirect" test/tidied/go.mod
  base_not_tidied:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: prepare test data
        run: |
          git config user.name "Dummy"
          git config user.email "bot@renovateapp.com"
          git commit -m "Test" --allow-empty
      - name: run
        id: failure
        uses: ./
        continue-on-error: true
        with:
          git_user: Dummy
          git_email: 8390204+at-wat@users.noreply.github.com
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: no
          go_mod_paths: test/not-tidied
      - name: validate
        run: test "${{ steps.failure.outcome }}" == "failure"
  non_renovate_bot:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: prepare test data
        run: |
          sed 's/v0\.0\.1/v0.0.2/' -i test/tidied/go.mod
          git add test/tidied/go.mod
          git config user.name "Dummy"
          git config user.email "8390204+at-wat@users.noreply.github.com"
          git commit -m "Test"
      - name: run
        uses: ./
        with:
          git_user: Dummy
          git_email: 8390204+at-wat@users.noreply.github.com
          github_token: ${{ secrets.GITHUB_TOKEN }}
          push: no
          go_mod_paths: test/tidied
      - name: validate
        run: |
          # sum must not be updated
          grep "v0.0.1 h1" test/tidied/go.sum
          grep "v0.0.1/go.mod" test/tidied/go.sum
          ! grep "v0.0.2 h1" test/tidied/go.sum
          ! grep "v0.0.2/go.mod" test/tidied/go.sum
